* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.customer-login {
  width: 400px;
  margin: 100px auto 0;
  padding: 10px 30px 20px;
  box-shadow: 0 0 3px #ccc;
}

.customer-login h3 {
  font-size: 20px;
  padding: 10px 0 0;
  text-align: center;
  color: #004b77;
}

.login-label {
  padding: 5px 0 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.login-input {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 5px;
  line-height: 30px;
}

.login-button {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 0;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
} 

.or {
  margin: 20px 0 10px;
  position: relative;
  height: 3px;
  background-color: #888;
}

.or > span {
  position: absolute;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  line-height: 28px;
  text-align: center;
}

.logout {
  margin: 100px auto 0;
  padding: 10px 20px;
  cursor: pointer;
}